<!DOCTYPE html>
<html>
<head>
  <title>Movie Night</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div class="top"></div>
    <div class="paper">
      
<%= yield %>

</div>
<div class="bottom"></div>
</div>

</body>
</html>
